
<%- include("partials/header.ejs") %>
<div class="column-wrapper">
<% if (locals.photos) {%>
<% Object.values(photos).forEach(photo => { %>

  <div id="column-<%= photo.brand%>" class="column">   
    <div class="logo-and-like">
      <img class="column-logo" src="/assets/images/<%= photo.brand%>.png">
      <form class="like-button-form" action="/l" method="GET"><button id="like-button-<%= photo.brand%>" class="like-button" type="submit" name="<%= photo.brand%>">❤️</button></form>
    </div> 
    <div class="grid-photo">
      <a href="<%= photo.link%>"><img class="photo" src="<%=photo.url%>"></a>

        <div class="positioned-text">
          <a href="https://api.unsplash.com/users/<%= photo.user%>"><p class="user-text"><%= photo.user%></p></a>
        </div>
        <div class="photo-meta-area">
          
          <p class="photo-meta"><img class="meta-logo" src="/assets/images/shutter-speed.png" alt="shutter-speed logo"><%= photo.expo%></p>
            <p class="photo-meta"><img class="meta-logo" src="/assets/images/aperture.png" alt="aperture logo"><%= photo.aper%></p>
            <p class="photo-meta"><img class="meta-logo" src="/assets/images/focal-length.png" alt="focal-length logo"><%= photo.focal%></p>
            <p class="photo-meta"><img class="meta-logo" src="/assets/images/iso.png" alt="iso logo"><%= photo.iso%></p>

        </div>
      </div>
  </div>

  <% }) %>

</div>
  <% } else { %>
    <p>This page is pretty empty</p>
    <% } %>

   <%- include("partials/footer.ejs") %>
    
    <script>
      $(".grid-photo").hover(function() {
  $('.darkening').css({"backgroundColor": "rgba(0, 0, 0, 0.701)", "z-index": "3"});
}, function(){
  $('.darkening').css({"backgroundColor": "transparent", "z-index": "-1"});
})
    </script>

</html>